<!DOCTYPE HTML>

<html>

<head>
    <title>about</title>
    <link rel="icon" href="/img/resume.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
    
<body>
    <div class="main-content">
        {{>header}}
        
        <img class="portrait" src="/img/mypicture.jpg">
        <div>
            台南人，個性認真負責，待人隨和且樂於溝通。<br/>
			在學期間皆擔任班級幹部與教授助理。<br/>
			樂於嘗試新挑戰、喜歡團隊生活、享受各種新鮮事物所帶來的樂趣。<br/>
			有健身、打羽球、慢跑的習慣，培養健全的精神體魄面對各種挑戰。
	    </div>
        <hr/>

        <div class="title">【聯絡資料】</div>
        <ul>
            <li>Email：yutima821008@gmail.com</li>
            <li>Line：yutima821008</li>
            <li>Phone：0919-331-823</li>
            <li>Tele：06-3312921</li>
            <li>兵役狀況：役畢(退伍)</li>
            <li>Address：(70162)台南市東區文聖里15鄰裕孝路201之7號</li>
            <li>FaceBook:<a href="https://www.facebook.com/home.php">馬毓棣(yuti ma)</a></li>
        </ul>
        
    </div>
    
    {{>footer}}
    
</body>
</html>