<!DOCTYPE HTML>

<html>

<head>
    <title>About me</title>
    <link rel="icon" href="/img/resume.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
    
<body>
    <div class="headline">{{>header}}</div>
    
    <div class="main-content">     
        <img class="portrait" src="/img/mypicture.jpg">

        <div class="about_subHeader">{{>about_subHeader}}</div>

        <div>【會議發表】</div>
        <ul>
            <li>
                (2017) 郭家旭, 李文廷, 馬毓棣, 林敬祥,<br/>
                <a href="https://drive.google.com/open?id=18rR0Db-xzH_4iFyS4OM0q1rFxP9ymnMq">“iRollCall - NFC 輕量級行動點名服務系統(iRollCall - A Light NFC-based App for Rollcall System),”</a><br/>
                2017 台灣軟體工程研討會論文集 (TCSE 2017), pp. 245-250, 逢甲大學資訊工程系, Taichung, Taiwan, July 7-8, 2017.
            </li>
            <li>
                (2018) 郭家旭, 馬毓棣,<br/>
                <a href="https://drive.google.com/open?id=1IDgD4t-PUVVSoC-46aMe5y8CGUNQ3389">“以能量機率為基礎的節能分群演算法(Probabilistic Energy-Based Clustering Algorithm (PECA) in WSNs),”<br/></a>
                2018 台灣軟體工程研討會論文集 (TCSE 2018), 國立成功大學資電學院, Tainan, Taiwan, July 6-7, 2018.</li>
	    </ul>

        <div>【碩士論文】</div>
        <ul>
            <li>
                <a href="https://drive.google.com/open?id=1a2nnhMCo6tt-I6W21Zwvooa11UXhBmFu"><b>以能量機率為基礎的節能分群演算法之研究(The Design of the Probabilistic Energy-Based Clustering Algorithm in WSNs)</b></a>
            </li>
            <li>
                指導教授：<a href="https://sites.google.com/site/kuochweb/"><b>郭家旭教授</b></a>
            </li>
	    </ul>


        
    </div>
    
    {{>footer}}
    
</body>
</html>