<!DOCTYPE HTML>

<html>

<head>
    <title>About me</title>
    <link rel="icon" href="/img/resume.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>
    
<body>
    <div class="headline">{{>header}}</div>
    
    <div class="main-content">     
        <img class="portrait" src="/img/mypicture.jpg">

        <div class="about_subHeader">{{>about_subHeader}}</div>

        <ul>
            <li>
                <td><b>2002.09-2006.06</b></td>
                <td><a href="http://www.fhes.tn.edu.tw/">臺南市東區復興國民小學</a></td>
            </li>
            <li>
                <td><b>2006.09-2009.06</b></td>
                <td><a href="http://www.fhjh.tn.edu.tw/fhjh/index.asp">臺南市立復興國民中學</a></td>
            </li>
            <li>
                <td><b>2009.09-2012.06</b></td>
                <td><a href="https://www.tnfsh.tn.edu.tw/bin/home.php">國立臺南第一高級中學</a></td>
            </li>
            <li>
                <td><b>2012.09-2016.06</b></td>
                <td><a href="https://www.pu.edu.tw/">靜宜大學(PU)</a></td>
                <td><a href="http://www.csie.pu.edu.tw/main.php">資訊工程學系(CSIE)</a></td>
                <td></td>
                <td>學士</td>
            </li>
            <li>
                <td><b>2016.09-2018.08</b></td>
                <td><a href="https://w3.nknu.edu.tw/zh/">國立高雄師範大學(NKNU)</a>
                <td><a href="https://se.nknu.edu.tw/">軟體工程與管理學系(SEM)</a></td>
                <td>工程組</td>
                <td>碩士</td>
            </li>
	    </ul>
        
    </div>
    
    {{>footer}}
    
</body>
</html>