<!DOCTYPE HTML>

<html>

<head>
    <title>Error</title>
    <link rel="icon" href="/img/internetError.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>  

<body>
    <div class="headline">{{>header}}</div>
    <div class="main-content">
        {{title}}
        <p>{{errorMessage}}</p>
    </div>
    
    {{>footer}}
</body>
</html>




