<!DOCTYPE HTML>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/homepage.png">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
    
<body>
    <div class="headline">{{>header}}</div>
    <div class="index_groupPhoto">
            

            <img class="portrait" src="/img/groupPhoto.jpg">       
        </div>
        
        {{>footer}}

        <script src="/js/app.js"></script>
</body>
</html>