body {
    color: #000000;
    font-family: 'Times New Roman', "標楷體", Times, serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

.main-content {
    flex-grow: 1;
}

.headline{
    background-color:#003344;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

about_subHeader {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

.index_groupPhoto {
    width: 1000px;
    max-width:  100%;
    display:  flex;
    align-items: center;
    justify-content:  center;
}

.cover {
    width: 650px;
}

img {
    width: 200px;
    display: table;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    border: 1px solid #888888;
    background: #888888;
    color: #6464e5;
    padding: 8px;
    cursor: pointer;
}